@model SoftCandy.Models.Caixa
@using SoftCandy.Enums

@{
    ViewData["Title"] = "Caixa";
}

<center>
    <form class="form-inline" asp-controller="Caixa" asp-action="FechamentoCaixa">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <a asp-controller="Comanda" asp-action="Venda" class="btn btn-warning mr-1">Novo Delivery</a>
                <a asp-controller="Comanda" asp-action="Venda" class="btn btn-info mr-1">Venda por Comanda</a>
                <a asp-controller="OperacaoCaixa" asp-action="Create" class="btn btn-primary mr-1">Nova Operação</a>
            </div>
            <div class="d-flex">
                <a asp-controller="Caixa" asp-action="Fechamento" class="btn btn-danger">Fechar Caixa</a>
            </div>
        </div>
    </form>
    <br />

    <div class="card border-warning mb-3">
        <div class="card-header"><h4>Pedidos Delivery Recebidos</h4></div>
        <div class="card-body">
            @if (Model.Pedidos.Where(p => !p.Recebido).Count() == 0)
            {
                <span>Não há pedidos delivery a receber</span>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Data/Hora Pedido
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Forma Pagamento
                            </th>
                            <th class="center">
                                Visualizar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pedido in Model.Pedidos.Where(p => !p.Recebido).Take(20))
                        {
                            <tr>
                                <td>
                                    Id
                                </td>
                                <td>
                                    Cliente
                                </td>
                                <td>
                                    Data/Hora Pedido
                                </td>
                                <td>
                                    Valor
                                </td>
                                <td>
                                    Forma Pagamento
                                </td>
                                <td class="center">
                                    <a asp-controller="Pedido" asp-action="Details" asp-route-id="@pedido.Id" class="sem-sub">
                                        <img src="~/icons/detalhes.svg" class="icone-menus" title="Visualizar" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <br />

    <div class="card border-success mb-3">
        <div class="card-header"><h4>Comandas Recebidas</h4></div>
        <div class="card-body">
            @if (Model.Pedidos.Where(p => p.Recebido).Count() == 0)
            {
                <span>Não há comandas para mostrar</span>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Data/Hora Criação
                            </th>
                            <th>
                                Data/Hora Recebimento
                            </th>
                            <th>
                                Forma de pagamento
                            </th>
                            <th>
                                Valor
                            </th>
                            <th class="center">Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pedido in Model.Pedidos.Where(p => p.Recebido).Take(20))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => pedido.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modeItem => pedido.DataHoraCriacao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modeItem => pedido.DataHoraRecebimento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => pedido.FormaPagamento)
                                </td>
                                <td>
                                    R$ @Html.DisplayFor(modelItem => pedido.ValorTotal)
                                </td>
                                <td class="center">
                                    <a asp-controller="Comanda" asp-action="Details" asp-route-id="@pedido.Id" class="sem-sub">
                                        <img src="~/icons/detalhes.svg" class="icone-menus" title="Detalhes" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <br />

    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Operações Realizadas</h4></div>
        <div class="card-body">
            @if (Model.Operacoes.Count() == 0)
            {
                <span>Não há operações para mostrar</span>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Nome
                            </th>
                            <th>
                                Funcionário
                            </th>
                            <th class="center">Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var operacao in Model.Operacoes.Take(20))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => operacao.Id)
                                </td>
                                <td>
                                    R$ @Html.DisplayFor(modeItem => operacao.Valor)
                                </td>
                                <td>
                                    @if (operacao.Tipo == OperacoesEnum.ENTRADA)
                                    {
                                        <span>Entrada</span>
                                    }
                                    else
                                    {
                                        <span>Saída</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => operacao.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => operacao.Funcionario.Nome)
                                </td>
                                <td class="center">
                                    <a asp-controller="OperacaoCaixa" asp-action="Details" asp-route-id="@operacao.Id" class="sem-sub">
                                        <img src="~/icons/detalhes.svg" class="icone-menus" title="Detalhes" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</center>
