@model SoftCandy.Models.Caixa

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Detalhes Caixa</h4></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DataHoraAbertura): </td>
                    <td>@Html.DisplayFor(model => model.DataHoraAbertura)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DataHoraFechamento): </td>
                    <td>@Html.DisplayFor(model => model.DataHoraFechamento)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ValorAbertura): </td>
                    <td>@Html.DisplayFor(model => model.ValorAbertura)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ValorFechamento): </td>
                    <td>@Html.DisplayFor(model => model.ValorFechamento)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.FuncionarioAbertura): </td>
                    <td>@Html.DisplayFor(model => model.FuncionarioAbertura.Nome)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.FuncionarioFechamento): </td>
                    <td>@Html.DisplayFor(model => model.FuncionarioFechamento.Nome)</td>
                </tr>
            </table>
            <br />
            <div>
                <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
            </div>
            <br />
        </div>
</center>