@model SoftCandy.Models.Caixa

@{
    ViewData["Title"] = "Fechamento";
}
<br />
<center>
    <form asp-controller="Caixa" asp-action="FechamentoCaixa">
        <div class="card border-primary mb-3" style="max-width: 40rem;">
            <div class="card-header"><h4>Fechar Caixa</h4></div>
            <div class="card-body">
                <h4>Pedidos</h4>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ValorVendasDinheiro): </td>
                        <td>R$ @Html.DisplayFor(model => model.ValorVendasDinheiro)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ValorVendasCartaoDebito): </td>
                        <td>R$ @Html.DisplayFor(model => model.ValorVendasCartaoDebito)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ValorVendasCartaoCredito): </td>
                        <td>R$ @Html.DisplayFor(model => model.ValorVendasCartaoCredito)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ValorVendasPix): </td>
                        <td>R$ @Html.DisplayFor(model => model.ValorVendasPix)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.ValorTotalVendas): </b></td>
                        <td><b>R$ @Html.DisplayFor(model => model.ValorTotalVendas)</b></td>
                    </tr>
                </table>
                <br />
                <h4>Operações</h4>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ValorOperacoesEntrada): </td>
                        <td>R$ @Html.DisplayFor(model => model.ValorOperacoesEntrada)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ValorOperacoesSaida): </td>
                        <td>R$ @Html.DisplayFor(model => model.ValorOperacoesSaida)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.ValorTotalOperacoes): </b></td>
                        <td><b>R$ @Html.DisplayFor(model => model.ValorTotalOperacoes)</b></td>
                    </tr>
                </table>
                <h4>Caixa</h4>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ValorDinheiroAbertura): </td>
                        <td>R$ @Html.DisplayFor(model => model.ValorDinheiroAbertura)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ValorVendasDinheiro): </td>
                        <td>R$ @Html.DisplayFor(model => model.ValorVendasDinheiro)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ValorTotalOperacoes): </td>
                        <td>R$ @Html.DisplayFor(model => model.ValorTotalOperacoes)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.ValorTotalFechamentoDinheiro): </b></td>
                        <td><b>R$ @Html.DisplayFor(model => model.ValorTotalFechamentoDinheiro)</b></td>
                    </tr>
                </table>
                <div>
                    <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                    <button type="submit" class="btn btn-success">Confirmar e Fechar</button>
                </div>
            </div>
        </div>
    </form>
</center>