@model IEnumerable<SoftCandy.Models.Caixa>

@{
    ViewData["Title"] = "Histórico";
}

<center>
    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Histórico de Caixas</h4></div>
        <div class="card-body">
            @if (Model.Count() != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Data e Hora(Abertura)
                            </th>
                            <th>
                                Data e Hora(Fechamento)
                            </th>
                            <th>
                                Valor Abertura
                            </th>
                            <th>
                                Valor Fechamento
                            </th>
                            <th>
                                Funcionário Abertura
                            </th>
                            <th>
                                Funcionário Fechamento
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataHoraAbertura)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataHoraFechamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorAbertura)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorFechamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FuncionarioAbertura.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FuncionarioFechamento.Nome)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.IdCaixa" class="sem-sub">
                                        <img src="~/icons/detalhes.svg" class="icone-menus" title="Detalhes" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Não tem caixas para mostrar</p>
            }
        </div>
    </div>
</center>