@model SoftCandy.Models.Motoboy

@{
    ViewData["Title"] = "Ativar";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Ativar Motoboy</h4></div>
        <div class="card-body">
            <h5>Tem certeza que deseja Ativar?</h5>
            <div>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Id): </td>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Nome): </td>
                        <td>@Html.DisplayFor(model => model.Nome)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Celular): </td>
                        <td>@Html.DisplayFor(model => model.Celular)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Logradouro):</td>
                        <td>@Html.DisplayFor(model => model.Logradouro)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Numero): </td>
                        <td>@Html.DisplayFor(model => model.Numero)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Bairro): </td>
                        <td>@Html.DisplayFor(model => model.Bairro)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Cidade): </td>
                        <td>@Html.DisplayFor(model => model.Cidade)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Estado): </td>
                        <td>@Html.DisplayFor(model => model.Estado)</td>
                    </tr>
                </table>
                <br />
                <form asp-action="Restore">
                    <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Ativar" class="btn btn-danger text-preto" />
                </form>
            </div>
        </div>
    </div>
</center>