@model IEnumerable<SoftCandy.Models.Delivery>

@{
    ViewData["Title"] = "Delivery Pendentes";
}
<div class="d-flex justify-content-between">

    <div class="d-flex" >
        <a asp-controller="Delivery" asp-action="EscolherItens" class="btn btn-success">Efetuar Delivery</a>
    </div>
    <div class="d-flex">
        <input id="pesquisaDelivery" class="form-control mr-1" min="1" type="number" placeholder=" Nº Delivery" autocomplete="off" />
        <button id="procurar" type="button" class="btn btn-primary" onclick="procurar()">Procurar</button>
    </div>
</div>
<br />
<center>
    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Deliveries Pendentes</h4></div>
        <div class="card-body">
            @if (Model.Count() != 0)
            {
            <table class="table">
                <thead>
                    <tr class="negrito">
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Caixa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Motoboy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ValorTotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FormaPagamento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataHoraCriacao)
                        </th>
                        <th class="center">Exibir</th>
                        <th class="center">Cupom</th>
                        <th class="center">Receber</th>
                        <th class="center">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Caixa.IdCaixa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Motoboy.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormaPagamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataHoraCriacao)
                        </td>
                        <td class="center">
                            <a asp-action="Details" asp-controller="Delivery" asp-route-id="@item.Id" class="sem-sub">
                                <img src="~/icons/exibir.svg" class="icone-menus" title="Exibir" />
                            </a>
                        </td>
                        <td class="center">
                            <a asp-action="CupomCriacao" asp-controller="Delivery" target="_blank" asp-route-id="@item.Id" class="sem-sub">
                                <img src="~/icons/cupom.svg" class="icone-menus" title="Cupom" />
                            </a>
                        </td>
                        <td class="center">
                            <a asp-action="Receber" asp-controller="Delivery" asp-route-id="@item.Id" class="sem-sub">
                                <img src="~/icons/receber.svg" class="icone-menus" title="Receber" />
                            </a>
                        </td>
                        <td class="center">
                            <a asp-action="Delete" asp-controller="Delivery" asp-route-id="@item.Id" class="sem-sub">
                                <img src="~/icons/inativar.svg" class="icone-menus" title="Apagar" />
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
            <p>Não há deliveries para mostrar</p>
            }
        </div>
    </div>
</center>

<script defer>
   function procurar() {
        const comanda = $("#pesquisaDelivery").val() || "";
        const url = "/Delivery/Details/" + comanda;
        window.location.href = url;
    }
</script>

