@model IEnumerable<SoftCandy.Models.Fornecedor>

@{
    ViewData["Title"] = "Fornecedores";
}
<form class="form-inline" asp-controller="Busca" asp-action="BuscaFornecedor">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <a asp-action="Create" class="btn btn-success mr-1">Novo Fornecedor</a>
            <a asp-controller="Busca" asp-action="BuscaFornecedorApagado" class="btn btn-info">Fornecedores Apagados</a>
        </div>
        <div class="d-flex">
            <label for="Nome"></label>
            <input type="text" class="form-control mr-1" name="Nome" placeholder="Razão Social" value=@ViewData["Nome"] />
            <button type="submit" class=" btn btn-primary">Pesquisar</button>
        </div>
    </div>
</form>
<br />
<center>
    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Fornecedores</h4></div>
        <div class="card-body">
            @if (Model.Count() != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdFornecedor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cnpj)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RazaoSocial)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NomeFantasia)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdFornecedor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cnpj)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdFornecedor">Editar</a> |
                                    <a asp-action="Details" asp-route-id="@item.IdFornecedor">Detalhes</a> |
                                    <a asp-action="Delete" asp-route-id="@item.IdFornecedor">Deletar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Não tem fornecedores para mostrar</p>
            }
        </div>
    </div>
</center>

