@using Newtonsoft.Json;
@model SoftCandy.Models.RealizarPedido

@{
    ViewData["Title"] = "Realizar Pedido";
}

<h2>Realizar Pedido</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-dark"></div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label">Selecione o Cliente:</label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
            </div>
        </form>

    </div>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>QuantidadeProduto</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody id="itens-pedido"></tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td id="total-pedido">0</td>
        </tr>
    </tfoot>
</table>

<button id="enviar" disabled class="btn btn-success" onclick="enviar()">Enviar</button>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Estoque
            </th>
            <th>
                Preço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Produtos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeProduto)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.PrecoVendaProduto)
                </td>
                <td>
                    <button class="btn btn-secondary" onclick="adicionar(@JsonConvert.SerializeObject(item))">Adicionar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/RealizarPedido.js"></script>
<script src="~/js/formatador.js"></script>


