@model SoftCandy.Models.Pedido

@{
    ViewData["Title"] = "Cupom";
    Layout = "_LayoutCupom";
}
<div class="cupom-fiscal">
    <h4 class="center"><strong>CUPOM NÃO FISCAL</strong></h4>
    <hr />
    <table>
        <tr>
            <td>Pedido nº: </td>
            <td>@Html.DisplayFor(model => model.Id)</td>
        </tr>
        <tr>
            <td>Caixa nº: </td>
            <td>@Html.DisplayFor(model => model.IdCaixa)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DataHora): </td>
            <td>@Html.DisplayFor(model => model.DataHora)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Funcionario): </td>
            <td>@Html.DisplayFor(model => model.Funcionario.Nome)</td>
        </tr>
        <tr>
            @if (Model.IdCliente != null)
            {
                <td>@Html.DisplayNameFor(model => model.Cliente): </td>
                <td>@Html.DisplayFor(model => model.Cliente.NomeCliente)</td>
            }
            else
            {
                <td colspan="2">Venda sem cliente cadastrado</td>
            }
        </tr>
        <tr>
            <td>Meio de Pagamento: </td>
            <td>@Html.DisplayFor(model => model.FormaPagamento)</td>
        </tr>
    </table>
    <hr />
    <h4 class="center">ITENS DO PEDIDO</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Preço
                </th>
                <th>
                    Subtotal
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ItensPedidos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lote.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td><b>Total: </b></td>
                <td><b>R$ @Html.DisplayFor(model => model.ValorTotal)</b></td>
            </tr>
        </tfoot>
    </table>
    <hr />
    <h4 class="center">2022 © SOFTCANDY</h4>
    <p class="center">Obrigado, volte sempre!</p>
</div>
<script>window.print()</script>