@model SoftCandy.Models.Pedido

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Detalhes Pedido</h4></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.IdPedido): </td>
                    <td>@Html.DisplayFor(model => model.IdPedido)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DataPedido): </td>
                    <td>@Html.DisplayFor(model => model.DataPedido)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Funcionario): </td>
                    <td>@Html.DisplayFor(model => model.Funcionario.Nome)</td>
                </tr>
                <tr>
                    @if (Model.IdCliente != 0)
                    {
                        <td>@Html.DisplayNameFor(model => model.Cliente): </td>
                        <td>@Html.DisplayFor(model => model.Cliente.NomeCliente)</td>
                    }
                    else
                    {
                        <td colspan="2">Venda sem cliente cadastrado</td>
                    }
                </tr>
            </table>
            <h4>Itens do Pedido</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th>
                            Preço
                        </th>
                        <th>
                            Subtotal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ItensPedidos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                            <td>
                                R$ @Html.DisplayFor(modelItem => item.PrecoPago)
                            </td>
                            <td>
                                R$ @string.Format("{0:#,0.00}", item.PrecoPago * item.Quantidade)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Total: </b></td>
                        <td><b>R$ @Html.DisplayFor(model => model.ValorTotalPedido)</b></td>
                    </tr>
                </tfoot>
            </table>
            <br />
            <div>
                <a asp-action="Index" class="btn btn-primary mr-1">Voltar</a>
            </div>
        </div>
    </div>
</center>