@model SoftCandy.Models.Pedido

@{
    ViewData["Title"] = "Detalhes Pedido";
}

<h2>Detalhes Pedido</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor_Total)
        </dt>
        <dd>
          R$ @Html.DisplayFor(model => model.Valor_Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data_Pedido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Pedido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Num_Pedido" class="btn btn-info">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
