@model IEnumerable<SoftCandy.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<h2>Pedidos</h2>

<form class="form-inline" asp-controller="Busca" asp-action="BuscaPedido">
    <div class="form-check-inline">
        <div class="container">
            <div class="row align-middle">
                <div class="col">
                    <label for="minDate" class="control-label">Data inicial</label>
                    <input type="date" name="minDate" class="form-control" />
                </div>
                <div class="col">
                    <label for="maxDate" class="control-label">Data final</label>
                    <input type="date" name="maxDate" class="form-control" />
                </div>
                <div class="col d-flex align-items-end">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
</form>


<br />
<div>
    <a asp-controller="Pedido" asp-action="Create" class="btn btn-success">Novo Pedido</a> |
    <a asp-action="Relatorio" target="_blank" class="btn btn-info">Gerar Relatório</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedido)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.Valor_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Pedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdPedido">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPedido">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
