@model IEnumerable<SoftCandy.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <a asp-action="Create">Novo Pedido</a> |
    <a asp-action="Relatorio" target="_blank" class="btn btn-info">Gerar Relatório</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor_Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Pedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Num_Pedido">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Num_Pedido">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Num_Pedido">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
