@model IEnumerable<SoftCandy.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}
<form class="form-inline" asp-controller="Busca" asp-action="BuscaPedido">
    <div class="d-flex justify-content-between">
        <div class="col d-flex align-items-end">
            <a asp-action="Create" class="btn btn-success">Novo Pedido</a>
        </div>
        <div class="d-flex">
            <div class="row align-middle">
                <div class="col">
                    <label for="minDate" class="control-label">Data inicial</label>
                    <input type="date" name="minDate" class="form-control" />
                </div>
                <div class="col">
                    <label for="maxDate" class="control-label">Data final</label>
                    <input type="date" name="maxDate" class="form-control" />
                </div>
                <div class="col d-flex align-items-end">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<center>
    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Pedidos</h4></div>
        <div class="card-body">
            @if (Model.Count() != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdPedido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValorTotalPedido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataPedido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vendedor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cliente)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdPedido)
                                </td>
                                <td>
                                    R$ @Html.DisplayFor(modelItem => item.ValorTotalPedido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataPedido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vendedor.NomeVendedor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.IdPedido" class="sem-sub">
                                        <img src="~/icons/detalhes.svg" class="icone-menus" title="Detalhes" />
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.IdPedido" class="sem-sub">
                                        <img src="~/icons/deletar.svg" class="icone-menus" title="Deletar" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Não tem pedidos para mostrar</p>
            }
        </div>
    </div>
</center>
