@model IEnumerable<SoftCandy.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "_LayoutRelatorio";
}

<h2>Pedidos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotalPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                  R$  @Html.DisplayFor(modelItem => item.ValorTotalPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>window.print()</script>
