@model IEnumerable<SoftCandy.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "_LayoutRelatorio";
}

<h2>Pedidos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                  R$  @Html.DisplayFor(modelItem => item.Valor_Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Pedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>window.print()</script>
