@model SoftCandy.Models.Vendedor

@{
    ViewData["Title"] = "Deletar";
}

<h2>Deletar vendedor</h2>

<h3>Tem certeza que deseja excluir?</h3>
<div>
    <h4>Vendedor</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CelularVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CelularVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailVendedor)
        </dd>

    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVendedor" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>
