@model SoftCandy.Models.Vendedor

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Detalhes Vendedor</h4></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.IdVendedor): </td>
                    <td>@Html.DisplayFor(model => model.IdVendedor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.NomeVendedor): </td>
                    <td>@Html.DisplayFor(model => model.NomeVendedor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CelularVendedor): </td>
                    <td>@Html.DisplayFor(model => model.CelularVendedor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EmailVendedor): </td>
                    <td>@Html.DisplayFor(model => model.EmailVendedor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LogradouroVendedor):</td>
                    <td>@Html.DisplayFor(model => model.LogradouroVendedor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.NumeroVendedor): </td>
                    <td>@Html.DisplayFor(model => model.NumeroVendedor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.BairroVendedor): </td>
                    <td>@Html.DisplayFor(model => model.BairroVendedor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CidadeVendedor): </td>
                    <td>@Html.DisplayFor(model => model.CidadeVendedor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EstadoVendedor): </td>
                    <td>@Html.DisplayFor(model => model.EstadoVendedor)</td>
                </tr>
            </table>
            <br />
            <div>
                <a asp-action="Edit" asp-route-id="@Model.IdVendedor" class="btn btn-info mr-1">Editar</a>
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</center>