@model SoftCandy.Models.Vendedor

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do Vendedor</h2>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CelularVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CelularVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailVendedor)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVendedor" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-primary"> Voltar</a>
</div>
