@model SoftCandy.Models.Vendedor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Vendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular_Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular_Vendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco_Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco_Vendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email_Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email_Vendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Senha_Vendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Senha_Vendedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Vendedor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
