@model IEnumerable<SoftCandy.Models.Vendedor>

@{
    ViewData["Title"] = "Relatório Vendedores";
    Layout = "_LayoutRelatorio";
}
<h2>Vendedores</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeVendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CelularVendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoVendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailVendedor)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdVendedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeVendedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CelularVendedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnderecoVendedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailVendedor)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>window.print()</script>
