@model SoftCandy.Models.Comanda
@using SoftCandy.Enums

@{
    ViewData["Title"] = "Receber Comanda";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Receber Comanda</h4></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Id): </td>
                    <td>@Html.DisplayFor(model => model.Id)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.IdCaixa): </td>
                    <td>@Html.DisplayFor(model => model.IdCaixa)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.DataHoraCriacao): </td>
                    <td>@Html.DisplayFor(model => model.DataHoraCriacao)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.ValorTotal): </td>
                    <td>R$ @Html.DisplayFor(model => model.ValorTotal)</td>
                </tr>
            </table>
            <h4>Itens da Comanda</h4>
            <table class="table">
                <thead>
                    <tr class="negrito">
                        <th>
                            Nome
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th>
                            Preço
                        </th>
                        <th>
                            Subtotal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ItemComanda)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lote.Produto.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                            <td>
                                R$ @Html.DisplayFor(modelItem => item.Lote.PrecoVenda)
                            </td>
                            <td>
                                R$ @string.Format("{0:#,0.00}", item.Lote.PrecoVenda * item.Quantidade)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Total: </b></td>
                        <td><b>R$ <span id="totalPedido">@Html.DisplayFor(model => model.ValorTotal)</span></b></td>
                    </tr>
                </tfoot>
            </table>
            <h4>Dados do Pagamento</h4>
            <form asp-action="Receber">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="formaPagamento">Selecione a forma de pagamento:</label>
                    </div>
                    <div class="col-md-4">
                        <select id="formaPagamento" asp-for="FormaPagamento" class="form-control" asp-items="Html.GetEnumSelectList<FormasPagamentoEnum>()"></select>
                    </div>
                </div>
                <br />
                <div class="troco">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="dinheiro">Valor Recebido:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="number" class="form-control number-sem-setas" id="dinheiro" autocomplete="off" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="troco">Troco:</label>
                        </div>
                        <div class="col-md-4">
                            <span id="troco"></span>
                        </div>
                    </div>
                    <br />
                </div>
                <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                <input type="submit" class="btn btn-success mr-1" value="Confirmar e Receber" />
            </form>
            <br />
        </div>
    </div>
</center>
<script src="~/js/Formatador.js" defer></script>
<script src="~/js/ReceberComanda.js" defer></script>