@model IEnumerable<SoftCandy.Models.Lote>
@{
    ViewData["Title"] = "Realizar Venda";
}
<br />
<div class="card border-primary mb-3">
    <div class="card-header center"><h4>Realizar Venda</h4></div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <label for="idComanda" class="text-nowrap mr-1">Nº Comanda: </label>
                <input type="number" min="1" class="form-control mr-1" id="idComanda" />
            </div>
            <div class="d-flex">
                <input type="text" class="form-control mr-1" id="pesquisar" placeholder="Nome do produto" />
                <button type="button" onclick="procurarProdutos()" class=" btn btn-primary">Pesquisar</button>
            </div>
        </div>
        <br />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Produto
                        </th>
                        <th>
                            Lote
                        </th>
                        <th>
                            Validade
                        </th>
                        <th>
                            Preço
                        </th>
                        <th>
                            Estoque
                        </th>
                        <th style="width:8px">
                            Quantidade
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lote in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelLote => lote.Produto.Nome)
                            </td>
                            <td class="id-lote">@Html.DisplayFor(modelLote => lote.Id)</td>
                            <td>
                                @Html.DisplayFor(modelLote => lote.DataHoraValidade)
                            </td>
                            <td>
                                R$ @Html.DisplayFor(modelLote => lote.PrecoVenda)
                            </td>
                            <td>
                                @Html.DisplayFor(modelLote => lote.QuantidadeEstoque)
                            </td>
                            <td class="qnt">
                                <input type="number" class="form-control" min="1" max="@lote.QuantidadeEstoque" />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success btn-Add">Adicionar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/js/Formatador.js" defer></script>
<script src="~/js/RealizarVenda.js" defer></script>