@using System.Security.Claims;
@using SoftCandy.Enums;
@using SoftCandy.Utils;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta lang="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoftCandy</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-Quartz.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel='icon' type='image/png' href='~/favicon.png'>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top nao-imprimir" style="z-index: 9">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/nova_logo.png" width="165" /></a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">

                @if (LoginAtual.IsVendedor(User))
                {
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Comandas</a>
                            <div class="dropdown-menu">
                                <form asp-controller="Comanda" asp-action="Create" method="post" class="dropdown-item"><button type="submit" formtarget="_blank" class="btn btn-success"> Abrir Comanda</button></form>
                                <a class="dropdown-item text-preto" asp-controller="Comanda" asp-action="Venda"><img src="~/images/pedidos.png" /> Efetuar Comanda</a>
                                <a class="dropdown-item text-preto" asp-controller="Comanda" asp-action="Abertas"><img src="~/images/pendentes.png" /> Comandas Pendentes</a>
                                <a class="dropdown-item text-preto" asp-controller="Comanda" asp-action="Historico"><img src="~/images/historico.png" /> Historico</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Deliveries</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-preto" asp-controller="Delivery" asp-action="EscolherItens"><img src="~/images/pedidos.png" /> Efetuar Delivery</a>
                                <a class="dropdown-item text-preto" asp-controller="Delivery" asp-action="Pendentes"><img src="~/images/pendentes.png" /> Deliveries Pendentes</a>
                                <a class="dropdown-item text-preto" asp-controller="Delivery" asp-action="Historico"><img src="~/images/historico.png" /> Histórico</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <span class="nav-link">
                                <img src="~/images/usuarios.png" />
                                Vendedor(a): @(User.Identity.Name)
                            </span>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Funcionario" asp-action="Logout" class="nav-link">
                                <img src="~/images/sair.png" />
                                Sair
                            </a>
                        </li>

                    </ul>
                }
                else if (LoginAtual.IsEstoquista(User))
                {
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Categoria" asp-action="Index">
                                <img src="~/images/categoria.png" />
                                 Categorias
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Fornecedor" asp-action="Index">
                                <img src="~/images/fornecedor.png" />
                                 Fornecedores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Produto" asp-action="Index">
                                <img src="~/images/produtos.png" />
                                 Produtos
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <span class="nav-link">
                                <img src="~/images/usuarios.png" />
                                Estoquista: @(User.Identity.Name)
                            </span>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Funcionario" asp-action="Logout" class="nav-link">
                                <img src="~/images/sair.png" />
                                Sair
                            </a>
                        </li>
                    </ul>
                }
                else if (LoginAtual.IsCaixa(User))
                {
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Comandas</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-preto" asp-controller="Comanda" asp-action="Abertas"><img src="~/images/pendentes.png" /> Comandas Pendentes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Deliveries</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-preto" asp-controller="Delivery" asp-action="Pendentes"><img src="~/images/pendentes.png" /> Deliveries Pendentes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Caixas</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-preto" asp-controller="Caixa" asp-action="Caixa"><img src="~/images/caixa.png" /> Caixa</a>
                                <a class="dropdown-item text-preto" asp-controller="Caixa" asp-action="Historico"><img src="~/images/historico.png" /> Histórico</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <span class="nav-link">
                                <img src="~/images/usuarios.png" />
                                Estoquista: @(User.Identity.Name)
                            </span>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Funcionario" asp-action="Logout" class="nav-link">
                                <img src="~/images/sair.png" />
                                Sair
                            </a>
                        </li>
                    </ul>
                }
                else if (LoginAtual.IsAdministrador(User))
                {
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Colaboradores</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-preto" asp-controller="Funcionario" asp-action="IndexAdministrador"><img src="~/images/administradores.png" /> Administradores</a>
                                <a class="dropdown-item text-preto" asp-controller="Funcionario" asp-action="IndexCaixa"><img src="~/images/caixas.png" /> Caixas</a>
                                <a class="dropdown-item text-preto" asp-controller="Funcionario" asp-action="IndexEstoquista"><img src="~/images/estoquistas.png" /> Estoquistas</a>
                                <a class="dropdown-item text-preto" asp-controller="Motoboy" asp-action="Index"><img src="~/images/motoboys.png" /> Motoboys</a>
                                <a class="dropdown-item text-preto" asp-controller="Funcionario" asp-action="IndexVendedor"><img src="~/images/vendedores.png" /> Vendedores</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mercadorias</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-preto" asp-controller="Categoria" asp-action="Index"><img src="~/images/categoria.png" /> Categorias</a>
                                <a class="dropdown-item text-preto" asp-controller="Fornecedor" asp-action="Index"><img src="~/images/fornecedor.png" /> Fornecedores</a>
                                <a class="dropdown-item text-preto" asp-controller="Produto" asp-action="Index"><img src="~/images/produtos.png" /> Produtos</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Comandas</a>
                            <div class="dropdown-menu">
                                <form asp-controller="Comanda" asp-action="Create" method="post" class="dropdown-item"><button type="submit" formtarget="_blank" class="btn btn-success"> Abrir Comanda</button></form>
                                <a class="dropdown-item text-preto" asp-controller="Comanda" asp-action="Venda"><img src="~/images/pedidos.png" /> Efetuar Comanda</a>
                                <a class="dropdown-item text-preto" asp-controller="Comanda" asp-action="Abertas"><img src="~/images/pendentes.png" /> Comandas Pendentes</a>
                                <a class="dropdown-item text-preto" asp-controller="Comanda" asp-action="Historico"><img src="~/images/historico.png" /> Historico</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Deliveries</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-preto" asp-controller="Delivery" asp-action="EscolherItens"><img src="~/images/pedidos.png" /> Efetuar Delivery</a>
                                <a class="dropdown-item text-preto" asp-controller="Delivery" asp-action="Pendentes"><img src="~/images/pendentes.png" /> Deliveries Pendentes</a>
                                <a class="dropdown-item text-preto" asp-controller="Delivery" asp-action="Historico"><img src="~/images/historico.png" /> Histórico</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Caixas</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-preto" asp-controller="Caixa" asp-action="Caixa"><img src="~/images/caixa.png" /> Caixa</a>
                                <a class="dropdown-item text-preto" asp-controller="Caixa" asp-action="Historico"><img src="~/images/historico.png" /> Histórico</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Relatórios</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-preto" asp-controller="Categoria" asp-action="Relatorio"><img src="~/images/relatorioCategorias.png" /> Relatórios de Categorias</a>
                                <a class="dropdown-item text-preto" asp-controller="Comanda" asp-action="Relatorio"><img src="~/images/relatorioComandas.png" /> Relatórios de Comandas</a>
                                <a class="dropdown-item text-preto" asp-controller="Delivery" asp-action="Relatorio"><img src="~/images/relatorioDeliveries.png" /> Relatórios de Deliveries</a>
                                <a class="dropdown-item text-preto" asp-controller="Fornecedor" asp-action="Relatorio"><img src="~/images/relatorioFornecedores.png" /> Relatórios de Fornecedores</a>
                                <a class="dropdown-item text-preto" asp-controller="Produto" asp-action="Relatorio"><img src="~/images/relatorioProdutos.png" /> Relatórios de Produtos</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <span class="nav-link">
                                <img src="~/images/usuarios.png" />
                                Administrador(a): @(User.Identity.Name)
                            </span>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Funcionario" asp-action="Logout" class="nav-link">
                                <img src="~/images/sair.png" />
                                Sair
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <br />
        @RenderBody()
    </div>

    <footer class="nao-imprimir">
        <span>
            <a target="_blank" href="~/Manual/manual-softcandy.pdf" class="nav-link">Manual do Usuário</a>
            <a asp-controller="Home" asp-action="Footer" class="nav-link">
                © 2022 SoftCandy
            </a>
        </span>
    </footer>

    <script src="~/lib/bootstrap/dist/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/sweetalert2.all.min.js"></script>
    <script src="~/js/Chart.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
