@model SoftCandy.Models.Administrador

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Detalhes Administrador</h4></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.IdAdministrador): </td>
                    <td>@Html.DisplayFor(model => model.IdAdministrador)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.NomeAdministrador): </td>
                    <td>@Html.DisplayFor(model => model.NomeAdministrador)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CelularAdministrador): </td>
                    <td>@Html.DisplayFor(model => model.CelularAdministrador)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EmailAdministrador): </td>
                    <td>@Html.DisplayFor(model => model.EmailAdministrador)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LogradouroAdministrador):</td>
                    <td>@Html.DisplayFor(model => model.LogradouroAdministrador)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.NumeroAdministrador): </td>
                    <td>@Html.DisplayFor(model => model.NumeroAdministrador)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.BairroAdministrador): </td>
                    <td>@Html.DisplayFor(model => model.BairroAdministrador)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CidadeAdministrador): </td>
                    <td>@Html.DisplayFor(model => model.CidadeAdministrador)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EstadoAdministrador): </td>
                    <td>@Html.DisplayFor(model => model.EstadoAdministrador)</td>
                </tr>
            </table>
            <br />
            <div>
                <a asp-action="Index" class="btn btn-primary mr-1">Voltar</a>
                <a asp-action="Edit" asp-route-id="@Model.IdAdministrador" class="btn btn-info">Editar</a>
            </div>
        </div>
    </div>
</center>