@model SoftCandy.Models.Administrador

@{
    ViewData["Title"] = "Restaurar";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Restaurar Administrador</h4></div>
        <div class="card-body">
            <h5>Tem certeza que deseja restaurar?</h5>
            <div>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.IdAdministrador): </td>
                        <td>@Html.DisplayFor(model => model.IdAdministrador)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.NomeAdministrador): </td>
                        <td>@Html.DisplayFor(model => model.NomeAdministrador)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CelularAdministrador): </td>
                        <td>@Html.DisplayFor(model => model.CelularAdministrador)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EmailAdministrador): </td>
                        <td>@Html.DisplayFor(model => model.EmailAdministrador)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.LogradouroAdministrador):</td>
                        <td>@Html.DisplayFor(model => model.LogradouroAdministrador)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.NumeroAdministrador): </td>
                        <td>@Html.DisplayFor(model => model.NumeroAdministrador)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.BairroAdministrador): </td>
                        <td>@Html.DisplayFor(model => model.BairroAdministrador)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CidadeAdministrador): </td>
                        <td>@Html.DisplayFor(model => model.CidadeAdministrador)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EstadoAdministrador): </td>
                        <td>@Html.DisplayFor(model => model.EstadoAdministrador)</td>
                    </tr>
                </table>
                <br />
                <form asp-action="Restore">
                    <input type="hidden" asp-for="IdAdministrador" />
                    <input type="submit" value="Restaurar" class="btn btn-danger mr-1" />
                    <a asp-action="Index" class="btn btn-primary">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</center>