@model IEnumerable<SoftCandy.Models.Produto>

@{
    ViewData["Title"] = "Pesquisar Produto";
}
<center>
    <form class="form-inline" asp-controller="Busca" asp-action="BuscaProduto">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <a asp-controller="Produto" asp-action="Index" class="btn btn-info mr-1">Voltar</a>
            </div>
            <div class="d-flex">
                <label for="Nome"></label>
                <input type="text" class="form-control mr-1" name="Nome" placeholder="Insira um nome" value=@ViewData["Nome"] />
                <button type="submit" class=" btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </form>
    <br />
    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Produtos</h4></div>
        <div class="card-body">
            @if (Model.Count() != 0)
            {
                <table class="table ">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdProduto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NomeProduto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DescricaoProduto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.QuantidadeProduto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrecoVendaProduto)
                            </th>
                            <th>
                                Visualizar
                            </th>
                            <th>
                                Editar
                            </th>
                            <th>
                                Apagar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdProduto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeProduto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescricaoProduto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuantidadeProduto)
                                </td>
                                <td>
                                    R$ @Html.DisplayFor(modelItem => item.PrecoVendaProduto)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.IdProduto" class="sem-sub">
                                        <img src="~/icons/detalhes.svg" class="icone-menus" title="Visualizar" />
                                    </a>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdProduto" class="sem-sub">
                                        <img src="~/icons/editar.svg" class="icone-menus" title="Editar" />
                                    </a>

                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.IdProduto" class="sem-sub">
                                        <img src="~/icons/deletar.svg" class="icone-menus" title="Apagar" />
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Não tem produtos para mostrar</p>
            }
        </div>
    </div>
</center>