@model IEnumerable<SoftCandy.Models.Produto>

@{
    ViewData["Title"] = "Pesquisar Produto";
}

<h2>Pesquisar Produto</h2>

<form class="form-inline" asp-controller="Busca" asp-action="BuscaProduto">
    <div class="form-group">
        <div class="form-check-inline">
            <label for="Nome"></label>
            <input type="text" class="form-control" name="Nome" placeholder="Nome do produto" value=@ViewData["NomeCliente"] />
        </div>
        <button type="submit" class=" btn btn-primary">Pesquisar</button> |
        <a asp-controller="Produto" asp-action="Index" class="btn btn-info">Voltar</a>
    </div>
    <br />
</form>
<table class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cod_Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco_Venda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cod_Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                   R$ @Html.DisplayFor(modelItem => item.Preco_Venda)
                </td>
                <td>
                    <a asp-controller="Produto" asp-action="Edit" asp-route-id="@item.Cod_Produto">Editar</a> |
                    <a asp-controller="Produto" asp-action="Details" asp-route-id="@item.Cod_Produto">Detalhes</a> |
                    <a asp-controller="Produto" asp-action="Delete" asp-route-id="@item.Cod_Produto">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>