<!DOCTYPE html>
@model IEnumerable<SoftCandy.Models.Funcionario>

@{
    ViewData["Title"] = "Pesquisar Administrador";
}
<center>
    <form class="form-inline" asp-controller="Busca" asp-action="BuscaAdministradorApagado">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <a asp-controller="Funcionario" asp-action="IndexAdministrador" class="btn btn-info mr-1">Voltar</a>
            </div>
            <div class="d-flex">
                <label for="Nome"></label>
                <input type="text" class="form-control mr-1" name="Nome" placeholder="Insira um nome" value=@ViewData["Nome"] />
                <button type="submit" class=" btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </form>
    <br />
    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Administradores Apagados</h4></div>
        <div class="card-body">
            @if (Model.Count() != 0)
            {
                <table class="table ">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Celular)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th class="center">
                                Restaurar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Celular)
                                </td>
                                <td class="text-preto">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="text-preto center">
                                    <a asp-controller="Funcionario" asp-action="RestoreAdministrador" asp-route-id="@item.Id">Restaurar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Não tem administradores apagados para mostrar</p>
            }
        </div>
    </div>
</center>