<!DOCTYPE html>
@model IEnumerable<SoftCandy.Models.Categoria>

@{
    ViewData["Title"] = "Pesquisar Categoria Apagada";
}
<center>
    <form class="form-inline" asp-controller="Busca" asp-action="BuscaCategoriaApagada">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <a asp-controller="Categoria" asp-action="Index" class="btn btn-info mr-1">Voltar</a>
            </div>
            <div class="d-flex">
                <label for="Nome"></label>
                <input type="text" class="form-control mr-1" name="Nome" placeholder="Insira um nome" value=@ViewData["Nome"] />
                <button type="submit" class=" btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </form>
    <br />
    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Categorias Apagadas</h4></div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>
                            @Html.DisplayNameFor(model => model.IdCategoria)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeCategoria)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCategoria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeCategoria)
                            </td>
                            <td>
                                <a asp-controller="Categoria" asp-action="Restore" asp-route-id="@item.IdCategoria">Restaurar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</center>