<!DOCTYPE html>
@model IEnumerable<SoftCandy.Models.Vendedor>

@{
    ViewData["Title"] = "Pesquisar Vendedor";
}

<h2>Pesquisar Vendedor</h2>

<form class="form-inline" asp-controller="Busca" asp-action="BuscaVendedor">
    <div class="form-group">
        <div class="form-check-inline">
            <label for="Nome"></label>
            <input type="text" class="form-control" name="Nome" placeholder="Insira um nome" value=@ViewData["Nome"] />
        </div>
        <button type="submit" class=" btn btn-primary">Pesquisar</button>
    </div>
    <br />
</form>
<table class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular_Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco_Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_Vendedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Vendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Vendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular_Vendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco_Vendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Vendedor)
            </td>
            <td>
                <a asp-controller="Vendedor" asp-action="Edit" asp-route-id="@item.Id_Vendedor">Editar</a> |
                <a asp-controller="Vendedor" asp-action="Details" asp-route-id="@item.Id_Vendedor">Detalhes</a> |
                <a asp-controller="Vendedor" asp-action="Delete" asp-route-id="@item.Id_Vendedor">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>