@model SoftCandy.Models.Produto

@{
    ViewData["Title"] = "Deletar";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Deletar Produto</h4></div>
        <div class="card-body">
            <h5>Tem certeza que deseja excluir?</h5>
            <div>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.IdProduto): </td>
                        <td>@Html.DisplayFor(model => model.IdProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.NomeProduto): </td>
                        <td>@Html.DisplayFor(model => model.NomeProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.PrecoVendaProduto): </td>
                        <td>@Html.DisplayFor(model => model.PrecoVendaProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.QuantidadeProduto): </td>
                        <td>@Html.DisplayFor(model => model.QuantidadeProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.QuantidadeMinimaProduto): </td>
                        <td>@Html.DisplayFor(model => model.QuantidadeMinimaProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Categoria): </td>
                        <td>@Html.DisplayFor(model => model.Categoria.NomeCategoria)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Fornecedor):</td>
                        <td>@Html.DisplayFor(model => model.Fornecedor.RazaoSocial)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DescricaoProduto):</td>
                        <td>@Html.DisplayFor(model => model.DescricaoProduto)</td>
                    </tr>
                </table>
                <br />
                <form asp-action="Delete">
                    <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                    <input type="hidden" asp-for="IdProduto" />
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</center>