@model SoftCandy.Models.Produto
@using SoftCandy.Models

@{
    ViewData["Title"] = "Deletar";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Deletar Produto</h4></div>
        <div class="card-body">
            <h5>Tem certeza que deseja excluir?</h5>
            <div>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Id): </td>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Nome): </td>
                        <td>@Html.DisplayFor(model => model.Nome)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.QuantidadeDescartada): </td>
                        <td>@Html.DisplayFor(model => model.QuantidadeDescartada)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.QuantidadeMinima): </td>
                        <td>@Html.DisplayFor(model => model.QuantidadeMinima)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Categoria): </td>
                        <td>@Html.DisplayFor(model => model.Categoria.NomeCategoria)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Fornecedor):</td>
                        <td>@Html.DisplayFor(model => model.Fornecedor.RazaoSocial)</td>
                    </tr>
                </table>
                <br />
                <form asp-action="Delete">
                    <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</center>