@model SoftCandy.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do Produto</h2>

<div>
    <h4>Produto</h4>
    <p></p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Produto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Produto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco_Venda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco_Venda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cod_Produto" class="btn btn-info">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
