@model SoftCandy.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Detalhes Produto</h4></div>
        <div class="card-body">
            <div>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.IdProduto): </td>
                        <td>@Html.DisplayFor(model => model.IdProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.NomeProduto): </td>
                        <td>@Html.DisplayFor(model => model.NomeProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.PrecoVendaProduto): </td>
                        <td>@Html.DisplayFor(model => model.PrecoVendaProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.QuantidadeProduto): </td>
                        <td>@Html.DisplayFor(model => model.QuantidadeProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.QuantidadeMinimaProduto): </td>
                        <td>@Html.DisplayFor(model => model.QuantidadeMinimaProduto)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Categoria): </td>
                        <td>@Html.DisplayFor(model => model.Categoria.NomeCategoria)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Fornecedor):</td>
                        <td>@Html.DisplayFor(model => model.Fornecedor.RazaoSocial)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DescricaoProduto):</td>
                        <td>@Html.DisplayFor(model => model.DescricaoProduto)</td>
                    </tr>
                </table>
                <br />
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.IdProduto" class="btn btn-info mr-1">Editar</a>
                    <a asp-action="Index" class="btn btn-primary">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</center>
