@model SoftCandy.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Detalhes Produto</h4></div>
        <div class="card-body">
            <div>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Id): </td>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Nome): </td>
                        <td>@Html.DisplayFor(model => model.Nome)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.QuantidadeDescartada): </td>
                        <td>@Html.DisplayFor(model => model.QuantidadeDescartada)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.QuantidadeMinima): </td>
                        <td>@Html.DisplayFor(model => model.QuantidadeMinima)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Categoria): </td>
                        <td>@Html.DisplayFor(model => model.Categoria.NomeCategoria)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Fornecedor):</td>
                        <td>@Html.DisplayFor(model => model.Fornecedor.RazaoSocial)</td>
                    </tr>
                </table>
                <br />
                <div>
                    <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Editar</a>
                </div>
            </div>
        </div>
    </div>
</center>
