@model IEnumerable<SoftCandy.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}
<h2>Produtos</h2>
<form class="form-inline" asp-controller="Busca" asp-action="BuscaProduto">
    <div class="form-group">
        <div class="form-check-inline">
            <label for="Nome"></label>
            <input type="text" class="form-control" name="Nome" placeholder="Insira um nome" value=@ViewData["NomeCliente"] />
        </div>
        <button type="submit" class=" btn btn-primary">Pesquisar</button>
    </div>
</form>
<br />
<div>
    <a asp-action="Create" class="btn btn-success">Novo Produto</a> |
    <a asp-action="Relatorio" target="_blank" class="btn btn-info">Gerar Relatório</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadePedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco_Venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadePedido)
                </td>
                <td class="dinheiro">
                    R$ @Html.DisplayFor(modelItem => item.Preco_Venda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProduto">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProduto">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProduto">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/formatador.js"></script>
