@model IEnumerable<SoftCandy.Models.Produto>

@{
    ViewData["Title"] = "Relatório Produtos";
    Layout = "_LayoutRelatorio";
}

<h2>Relatório Produtos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoVendaProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeProduto)
                </td>
                <td>
                    <script>dinheiro("@item.PrecoVendaProduto")</script>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Formatador.js"></script>
<script>window.print()</script>