@model IEnumerable<SoftCandy.Models.Produto>
@using SoftCandy.Models;

@{
    ViewData["Title"] = "Relatório Produtos";
    Layout = "_LayoutRelatorio";
}

<h2>Relatório Produtos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeDescartada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeDescartada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Formatador.js"></script>
<script>window.print()</script>