@model SoftCandy.Models.OperacaoCaixa
@using SoftCandy.Enums
@{
    ViewData["Title"] = "Exibir";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Exibir Operação</h4></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Valor): </td>
                    <td> R$ @Html.DisplayFor(model => model.Valor)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Tipo): </td>
                    @if (Model.Tipo == OperacoesEnum.ENTRADA)
                    {
                        <td>Entrada</td>
                    }
                    else
                    {
                        <td>Saída</td>
                    }
                </tr>
                <tr>
                    <td>Nome da Operação: </td>
                    <td>@Html.DisplayFor(model => model.Nome)</td>
                </tr>
                @if (Model.Descricao != null && Model.Descricao.Length != 0)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Descricao): </td>

                        <td>@Html.DisplayFor(model => model.Descricao)</td>
                    </tr>
                }
                <tr>
                    <td>Data/Hora: </td>
                    <td>@Html.DisplayFor(model => model.DataHora)</td>
                </tr>
                <tr>
                    <td>Funcionário: </td>
                    <td>@Html.DisplayFor(model => model.Funcionario.Nome)</td>
                </tr>
            </table>
            <br />
            <div>
                <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
            </div>
            <br />
        </div>
    </div>
</center>

