@model SoftCandy.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do cliente</h2>

<div>
    <h4>Cliente</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CelularCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CelularCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoCliente)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCliente" class="btn btn-info">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
