@model SoftCandy.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Detalhes Cliente</h4></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.IdCliente): </td>
                    <td>@Html.DisplayFor(model => model.IdCliente)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.NomeCliente): </td>
                    <td>@Html.DisplayFor(model => model.NomeCliente)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CelularCliente): </td>
                    <td>@Html.DisplayFor(model => model.CelularCliente)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EmailCliente): </td>
                    <td>@Html.DisplayFor(model => model.EmailCliente)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LogradouroCliente):</td>
                    <td>@Html.DisplayFor(model => model.LogradouroCliente)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.NumeroCliente): </td>
                    <td>@Html.DisplayFor(model => model.NumeroCliente)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.BairroCliente): </td>
                    <td>@Html.DisplayFor(model => model.BairroCliente)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CidadeCliente): </td>
                    <td>@Html.DisplayFor(model => model.CidadeCliente)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EstadoCliente): </td>
                    <td>@Html.DisplayFor(model => model.EstadoCliente)</td>
                </tr>
            </table>
            <br />
            <div>
                <a asp-action="Edit" asp-route-id="@Model.IdCliente" class="btn btn-info mr-1">Editar</a>
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</center>