@model IEnumerable<SoftCandy.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<h2>Clientes</h2>
<p></p>
<div> <a asp-controller="Cliente" asp-action="Create" class="btn btn-secondary">Novo Cliente</a></div>
<p></p>
<table class="table">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Id_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                >@Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.Id_Cliente">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id_Cliente">Detalhes</a>|
                <a asp-action="Delete" asp-route-id="@item.Id_Cliente">Deletar</a>

            </td>
        </tr>
        }
    </tbody>
</table>
