@model IEnumerable<SoftCandy.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<h2>Clientes</h2>
<form class="form-inline" asp-controller="Busca" asp-action="BuscaCliente">
    <div class="form-group">
        <div class="form-check-inline">
            <label for="Nome"></label>
            <input type="text" class="form-control" name="Nome" placeholder="Insira um nome" value=@ViewData["Nome"] />
        </div>
        <button type="submit" class=" btn btn-primary">Pesquisar</button>
    </div>
    <br />
    <div>
        <a asp-controller="Cliente" asp-action="Create" class="btn btn-success">Novo Cliente</a> |
        <a asp-action="Relatorio" target="_blank" class="btn btn-info">Gerar Relatório</a>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CelularCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogradouroCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BairroCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CidadeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CelularCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogradouroCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BairroCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CidadeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCliente)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCliente">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente">Deletar</a>

            </td>
        </tr>
        }
    </tbody>
</table>
