@model IEnumerable<SoftCandy.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<h2>Clientes</h2>
<p></p>
<div> <a asp-controller="Cliente" asp-action="Create" class="btn btn-secondary">Novo Cliente</a></div>
<p></p>
<table class="table">
    <thead>
        <tr class="bg-primary">
            <th>
                <font color="black">@Html.DisplayNameFor(model => model.Id_Cliente)</font>
            </th>
            <th>
                <font color="black">@Html.DisplayNameFor(model => model.Nome)</font>
            </th>
            <th>
                <font color="black">@Html.DisplayNameFor(model => model.Celular)</font>
            </th>
            <th>
                <font color="black">@Html.DisplayNameFor(model => model.Endereco)</font>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr BGCOLOR="#F0FFFF">
            <td>
                <font color="black">@Html.DisplayFor(modelItem => item.Id_Cliente)</font>
            </td>
            <td>
                <font color="black">@Html.DisplayFor(modelItem => item.Nome)</font>
            </td>
            <td>
                <font color="black"> @Html.DisplayFor(modelItem => item.Celular)</font>
            </td>
            <td>
                <font color="black">@Html.DisplayFor(modelItem => item.Endereco)</font>
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.Id_Cliente"><font color="black">Editar</font></a> <font color="black">|</font>
                <a asp-action="Details" asp-route-id="@item.Id_Cliente"><font color="black">Detalhes</font></a> <font color="black">|</font>
                <a asp-action="Delete" asp-route-id="@item.Id_Cliente"><font color="black">Deletar</font></a>

            </td>
        </tr>
        }
    </tbody>
</table>
