@model SoftCandy.Models.Categoria

@{
    ViewData["Title"] = "Detalhes Categoria";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Detalhes Categoria</h4></div>
        <div class="card-body">
            <div>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.IdCategoria): </td>
                        <td>@Html.DisplayFor(model => model.IdCategoria)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.NomeCategoria): </td>
                        <td>@Html.DisplayFor(model => model.NomeCategoria)</td>
                    </tr>
                </table>
                <br />
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.IdCategoria" class="btn btn-info mr-1">Editar</a>
                    <a asp-action="Index" class="btn btn-primary">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</center>