@model SoftCandy.Models.Categoria

@{
    ViewData["Title"] = "Detalhes Categoria";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header"><h4>Detalhes Categoria</h4></div>
        <div class="card-body">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdCategoria)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdCategoria)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NomeCategoria)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NomeCategoria)
                    </dd>
                </dl>
            </div>
            <br />
            <div>
                <a asp-action="Edit" asp-route-id="@Model.IdCategoria" class="btn btn-info mr-1">Editar</a>
                <a asp-action="Index" class="btn btn-success">Voltar</a>
            </div>
        </div>
    </div>
</center>