@model IEnumerable<SoftCandy.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}
<form class="form-inline" asp-controller="Busca" asp-action="BuscaCategoria">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <a asp-action="Create" class="btn btn-success mr-1">Nova Categoria</a>
            <a asp-controller="Busca" asp-action="BuscaCategoriaApagada" class="btn btn-info">Listar Inativadas</a>
        </div>
        <div class="d-flex">
            <label for="Nome"></label>
            <input type="text" class="form-control mr-1" name="Nome" placeholder="Insira um nome" value=@ViewData["Nome"] />
            <button type="submit" class=" btn btn-primary">Pesquisar</button>
        </div>
    </div>
</form>
<br />
<center>
    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Categorias</h4></div>
        <div class="card-body">
            @if (Model.Count() != 0)
            {
                <table class="table">
                    <thead>
                        <tr class="negrito">
                            <th>
                                @Html.DisplayNameFor(model => model.IdCategoria)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NomeCategoria)
                            </th>
                            <th class="center">
                                Exibir
                            </th>
                            <th class="center">
                                Editar
                            </th>
                            <th class="center">
                                Inativar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdCategoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeCategoria)
                                </td>
                                <td class="center">
                                    <a asp-action="Details" asp-route-id="@item.IdCategoria" class="sem-sub">
                                        <img src="~/icons/exibir.svg" class="icone-menus" title="Exibir" />
                                    </a>
                                </td>
                                <td class="center">
                                    <a asp-action="Edit" asp-route-id="@item.IdCategoria" class="sem-sub">
                                        <img src="~/icons/editar.svg" class="icone-menus" title="Editar" />
                                    </a>

                                </td>
                                <td class="center">
                                    <a asp-action="Delete" asp-route-id="@item.IdCategoria" class="sem-sub">
                                        <img src="~/icons/inativar.svg" class="icone-menus" title="Inativar" />
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Não tem categorias para mostrar</p>
            }
        </div>
    </div>
</center>
