@model SoftCandy.Models.Lote

@{
    ViewData["Title"] = "Deletar Lote";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Deletar Lote</h4></div>
        <div class="card-body">
            <h5>Tem certeza que deseja deletar?</h5>
            <div>
                <table class="table">
                    <tr>
                        <td class="negrito">@Html.DisplayNameFor(model => model.QuantidadeEstoque): </td>
                        <td>@Html.DisplayFor(model => model.QuantidadeEstoque)</td>
                    </tr>
                    <tr>
                        <td class="negrito">@Html.DisplayNameFor(model => model.DataHoraFabricacao): </td>
                        <td>@Html.DisplayFor(model => model.DataHoraFabricacao)</td>
                    </tr>
                    <tr>
                        <td class="negrito">@Html.DisplayNameFor(model => model.DataHoraValidade): </td>
                        <td>@Html.DisplayFor(model => model.DataHoraValidade)</td>
                    </tr>
                    <tr>
                        <td class="negrito">@Html.DisplayNameFor(model => model.PrecoCompra): </td>
                        <td>@Html.DisplayFor(model => model.PrecoCompra)</td>
                    </tr>
                    <tr>
                        <td class="negrito">@Html.DisplayNameFor(model => model.PrecoVenda):</td>
                        <td>@Html.DisplayFor(model => model.PrecoVenda)</td>
                    </tr>
                    <tr>
                        <td class="negrito">@Html.DisplayNameFor(model => model.Produto): </td>
                        <td>@Html.DisplayFor(model => model.Produto.Nome)</td>
                    </tr>
                </table>
                <br />
                <form asp-action="Delete">
                    <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</center>
