@model SoftCandy.Models.Funcionario

@{
    ViewData["Title"] = "Exibir Estoquista";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Exibir Estoquista</h4></div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Id): </td>
                    <td>@Html.DisplayFor(model => model.Id)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Nome): </td>
                    <td>@Html.DisplayFor(model => model.Nome)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Celular): </td>
                    <td>@Html.DisplayFor(model => model.Celular)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Email): </td>
                    <td class="text-preto">@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Logradouro):</td>
                    <td>@Html.DisplayFor(model => model.Logradouro)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Numero): </td>
                    <td>@Html.DisplayFor(model => model.Numero)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Bairro): </td>
                    <td>@Html.DisplayFor(model => model.Bairro)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Cidade): </td>
                    <td>@Html.DisplayFor(model => model.Cidade)</td>
                </tr>
                <tr>
                    <td class="negrito">@Html.DisplayNameFor(model => model.Estado): </td>
                    <td>@Html.DisplayFor(model => model.Estado)</td>
                </tr>
            </table>
            <br />
            <div>
                <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
            </div>
        </div>
    </div>
</center>