@model IEnumerable<SoftCandy.Models.Funcionario>

@{
    ViewData["Title"] = "Vendedores";
}
<form class="form-inline" asp-controller="Busca" asp-action="BuscaVendedor">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <a asp-action="CreateVendedor" class="btn btn-success mr-1">Novo Vendedor</a>
            <a asp-controller="Busca" asp-action="BuscaVendedorApagado" class="btn btn-info">Vendedores Apagados</a>
        </div>
        <div class="d-flex">
            <label for="Nome"></label>
            <input type="text" class="form-control mr-1" name="Nome" placeholder="Insira um nome" value=@ViewData["Nome"] />
            <button type="submit" class=" btn btn-primary">Pesquisar</button>
        </div>
    </div>
</form>
<br />
<center>
    <div class="card border-primary mb-3">
        <div class="card-header"><h4>Vendedores</h4></div>
        <div class="card-body">
            @if (Model.Count() != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Celular)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th class="center">
                                Visualizar
                            </th>
                            <th class="center">
                                Editar
                            </th>
                            <th class="center">
                                Apagar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Celular)
                                </td>
                                <td class="text-preto">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="center">
                                    <a asp-action="DetailsVendedor" asp-route-id="@item.Id" class="sem-sub">
                                        <img src="~/icons/detalhes.svg" class="icone-menus" title="Visualizar" />
                                    </a>
                                </td>
                                <td class="center">
                                    <a asp-action="EditVendedor" asp-route-id="@item.Id" class="sem-sub">
                                        <img src="~/icons/editar.svg" class="icone-menus" title="Editar" />
                                    </a>

                                </td>
                                <td class="center">
                                    <a asp-action="DeleteVendedor" asp-route-id="@item.Id" class="sem-sub">
                                        <img src="~/icons/deletar.svg" class="icone-menus" title="Apagar" />
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Não tem administradores para mostrar</p>
            }
        </div>
    </div>
</center>
